@keyframes three-dots-jump {
	0%, 50%, 100% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, -10px);
	}
	75% {
		transform: translate(0, 10px);
	}
}

.three-dots-jump {
  div {
		@extend %basic-dot-style;

    margin: 2px;

		&:nth-child(1) {
			animation: three-dots-jump 1s -0.2s linear infinite;
		}
		&:nth-child(2) {
			animation: three-dots-jump 1s -0.1s linear infinite;
		}
		&:nth-child(3) {
			animation: three-dots-jump 1s 0s linear infinite;
		}
  }
}
